
* {
box-sizing: border-box;
    }
    body {
font-family: 'Trebuchet MS';
background: #f1f1f1;
    }
.header {
    font-size: 40px;
    text-align: center;
    background: rgb(2, 17, 191);
    color: whitesmoke;
            }
.menu {
font-size: 20px;
color: white;
list-style-type: none;
margin: 0;
padding: 1rem;
width: 25%;
background: rgb(33, 88, 156);
height: 100%; 
position: fixed;

          }
.mynav {
    border: 2px solid rgb(122, 116, 116);
    text-align: center;
    border-bottom: 2px solid rgb(122, 116, 116);
}

.summary {
    padding:2rem;
    border: none;
    font-size: 15px;
}

.sitetype{
    float: right;
    border: none;
}


.header2 {
    font-size: 40px;
    text-align: left;
    background: rgb(2, 17, 191);
    color: whitesmoke;
            }      

.table1 {
    font-size: 10px;
    text-align: center;
    padding-left: 0.5em;
}
